<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" type="text/css" href="./css/dashboard.css">
</head>
<body>
<div class="container">    
    <div id = "header">
        <div id="header1">
            <h1>CMS</h1>
        </div>
        <div id="header2">
            <ul>
                <li><a>Home</a></li>                
                <li><a>About</a></li>
                <li><a>Services</a></li>
                <li><a>courses</a></li>
            </ul>
        </div>
    </div>
    <div id="bodybar">
        <div id="navbar">
        
        </div>
        <div id="navbody">
            <p>Hi there we are using the html and css for developing the website.
                Here we are not using any bootstrap kind of stuff.Hi there we are using the html and css for developing the website.
                Here we are not using any bootstrap kind of stuff.Hi there we are using the html and css for developing the website.
                Here we are not using any bootstrap kind of stuff.
            </p>
        </div>
    </div>
    <div id="footer">
        <h1>Footer</h1>
    </div>
</div>

</body>
</html>
